@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";

html
{
  background-color: $pt-app-background-color;
  color: $pt-text-color;
  overflow-y: scroll;
}

html, body, #root, .App, main
{
  height: 100%;
}

$header-height: 32px;

.pt-popover-content
{
  max-height: 500px;
  overflow-y: auto;
}

header
{
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;

  padding: 5px;
  background-color: $dark-gray2;
  height: $header-height;
  overflow: hidden;

  #app-name
  {
    color: $light-gray1;
    padding: 0;
    margin: 0;
    line-height: 23px;
  }

  #name-display
  {
    color: $gray1;
    padding: 0;
    margin: 2px 0 0;
  }
  display: flex;
  justify-content: space-between;
}

main
{
  padding-top: $header-height;
}

div.home-content-container
{
  display: flex;

  min-height: 100%;

  .filter-editor
  {
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    background-color: $dark-gray5;
    color: $gray4;

    .fixture-select
    {
      button
      {
        width: 100%;
      }
    }

    .fixture-multi-select
    {
      .pt-multi-select
      {
        display: flex;
      }
    }


    h3
    {
      color: $gray1;
    }

    .filter-element
    {
      background-color: $dark-gray4;
      margin-bottom: 5px;
    }

    .address-search
    {
      margin-bottom: 15px;
      .pt-spinner
      {
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }

    textarea
    {
      width: 100%;
      min-height: 92px;
    }

    .slider-container
     {
      padding: 0 10px;
      margin-top: 5px;
    }
  }

  .home-results-container
  {
    min-width: 470px;
    background-color: $light-gray3;

    .provider-result-list
    {
      width: 100%;
      background-color: $gray5;

      #first
      {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
        overflow: hidden;
      }

      .result-wrapper
      {
        text-decoration: none;
      }

      .result-element:nth-child(even)
      {
        background-color: $light-gray1;

        .select-indicator
        {
          background-color: darken($light-gray1, 10%);
        }
      }

      .result-element:hover
      {
        background-color: $gray4;

        .select-indicator
        {
          background-color: $gray2;
        }
      }

      .result-element.result-selected
      {
        background-color: lighten(desaturate($green4, 50%), 37%);

        .select-indicator
        {
          background: $green4;
        }
      }

      .result-element
      {
        position: relative;
        padding: 5px 10px;
        height: 90px;

        .select-indicator
        {
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          height: 100%;
          background-color: darken($gray5, 10%);
        }

        .provider-name-display
        {
          margin-bottom: 5px;

          #id
          {
            color: $gray3;
          }
        }

        .credentials
        {
          span
          {
            margin-right: 5px;
            color: $dark-gray3;
          }
        }

        .specialties, .orientations
        {
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 450px;
          overflow: hidden;
          color: $dark-gray3;
        }
      }
    }
  }

  .side-bar-container
  {
    width: 100%;
    overflow: hidden;

    .results-map-wrapper
    {
      width: inherit;
      height: 500px;

      .results-map
      {
        width: 100%;
        height: 100%;
      }

    }
  }
}

span.no-website
{
  color: $gray5;
}

